# {{ ansible_managed }}
[Unit]
Description=Keepalive Daemon (LVS and VRRP)
After=network-online.target
Wants=network-online.target
ConditionFileNotEmpty={{ deploy_keepalived_config_dir }}/keepalived.conf

[Service]
# Type=notify
EnvironmentFile=-{{ deploy_keepalived_config_dir }}/keepalived.env
ExecStart={{ deploy_keepalived_path }} -f {{ deploy_keepalived_config_dir }}/keepalived.conf --dont-fork $DAEMON_ARGS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
